ip: 192.168.10.11
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /Users/gregor/work
        to: /home/vagrant/work
sites:
    -
        map: jobtip.dev
        to: /home/vagrant/work/jobtip/jobtip/public
databases:
    - homestead
name: jobtip
hostname: jobtip
